<!-- All code is based on the CS 340 starter code, with the exception of UI aesthetic styling -->

<html>
<head>
	<title>Genres</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
	<script language="JavaScript">
		// ... [JavaScript functions remain unchanged]
	</script>
</head>

<body onload="browseGenres()">
	<h1><img src="static\icons\favicon-32x32.png" alt="Description of image"> Genres</h1> 
    <!-- Navigation Links -->
    [ <a href="index">Homepage</a> | <a href="rentals">Rentals</a> | <a href="customers">Customers</a> | <a href="movies">Movies</a> | <a href="genres">Genres</a> | <a href="movie_genre_details">Movie Genre Details</a> ]
	
	<div id="browse">
		<p> Browse all genres. Select add new or delete to update the collection of genres. </p>
		<table style =";margin-left:auto;margin-right:auto;" border="1" cellpadding="5">
            {% if data %}
			    <thead>
				    <tr>
					    {% for key in data[0].keys() %}
					    <th scope="col">{{ key }}</th>
                        {% endfor %} 
                        <th scope="col">Actions</th> <!-- Column for actions -->
                    </tr>
				<tbody>
					{% for item in data %}
					    <tr>
						    {% for key in item.keys() %}
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Edit and Delete buttons -->
						    <td>
                                <!-- <a href="edit_genres/{{item.genre_id}}" class="btn btn-default">Edit</a>  -->
                                <a href="delete_genres/{{item.genre_id}}" class="btn btn-default">Delete</a> <!-- Delete button -->
                            </td>
					    </tr> 
                    {% endfor %} 
                {% endif %} 
        </table>   
	</div><!-- browse -->

	<br>

	<div id="insert">
		<!-- form to INSERT new data into Genres-->
		<form id="insertGenre" action="/genres" method="post">
			<legend><strong>Add Genre</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="make">genre_name:</label>
				<input type="text" class="form-control" id="genre_name" name="genre_name" pattern="[a-zA-Z0-9._ \t]{1,255}$" placeholder="Genre Name" required>


            <!-- Create 'Add Genre' and 'Cancel' buttons -->
			<input type="submit" value="Add Genre" name="Add_Genre" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseGenres()"> 
        </form>
	</div><!--insert-->
</body>
</html>